.cards {
  border: 2px solid #0b5ed7;
  border-radius: 8px;
}

.content {
  display: grid;
  gap: 1.3em;
  padding: 10px;
}
.img {
  border-radius: 8px 8px 0 0;
}
.badge {
  font-size: 1rem;
  top: 8px;
  right: 20px;
}
